@model RequestCodeGetModel
@{
    ViewData["Title"] = "Modifica Codice richiesta";
}
<div id="explorerLink">
    <a asp-controller="License" asp-action="Index">License</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a asp-controller="License" asp-action="Details" asp-route-id="@Model.License.Id">@Model.License.ProductKey.Key</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;Modifica Codice di richiesta
</div>
<h2>Modifica codice di richiesta</h2>
<br />
<div asp-if="Model.Error != 0">
    <label class="error_lbl" asp-if="Model.Error == 1">Errore, si prega di inserire correttamente tutti i campi richiesti.</label>
    <label class="error_lbl" asp-if="Model.Error == 2">Errore, questa licenza non risulta ancora attiva.</label>
    <label class="error_lbl" asp-if="Model.Error == 3">Errore, questo codice è già associato a questa licenza.</label>
</div>
<form asp-antiforgery="true" asp-controller="License" asp-action="EditRequestCode" asp-route-id="@Model.License.Id" autocomplete="off">
    <label>HID:</label>
    <input type="text" name="hid" style="width:400px;" />
    <br />
    <br />
    <br />
    <input type="submit" value="Conferma" />
</form>

