
@font-face {
    font-family: OpenSansRegular;
    src: url('../fonts/overpass-regular.otf');
}

@font-face {
    font-family: OpenSansThin;
    src: url('../fonts/overpass-thin.otf');
}

@font-face {
    font-family: OpenSansLight;
    src: url('../fonts/overpass-light.otf');
}

@font-face {
    font-family: OpenSansBold;
    src: url('../fonts/overpass-bold.otf');
}

html {
    height: 100%;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 14px;
    background-color: #f0f0f0;
    font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
    color: #1f282d;
}

body {
    min-height: 100%;
    position: relative;
}

header {
    height: 70px;
    padding: 0;
    margin: 0;
    background-color: #3466a5;
    text-align: center;
    min-width: 1000px;
    font-family: arial,sans-serif;
    font-size: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}

    header #logo {
        width: auto;
        height: 60px;
        margin: 5px auto 5px;
        position: relative;
        display: inline-block;
    }

.error_lbl {
    margin: 0px 0px 20px 0px;
    font-family: OpenSansBold;
    color: red;
}

/* -------------------- controlli  ----------------------- */

a, a:link, a:visited {
    color: #007bff;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    transition: color .1s ease-out;
}

    a:hover {
        color: #0881ba;
        text-decoration: underline;
        cursor: pointer;
    }

input[type="button"], input[type="submit"], .btn {
    -webkit-border-radius: 3px;
    -webkit-box-shadow: none;
    -webkit-font-smoothing: antialiased;
    background-color: #0b9dcc;
    border: 1px solid #0b9dcc;
    border-radius: 3px;
    box-shadow: none;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 36px;
    margin-bottom: 5px;
    min-width: 100px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.20);
    text-shadow: none;
    vertical-align: middle;
    font-family: OpenSansBold, Arial, Helvetica, sans-serif;
    transition: color .1s ease-out,background-color .1s ease-out,border-color .1s ease-out;
}

    input[type="button"]:hover, input[type="submit"]:hover, .btn:hover {
        background-color: #0881ba;
        border: 1px solid #0881ba;
        cursor: pointer;
        color: #fff !important;
    }

input[type="text"], input[type="password"], input[type="date"], textarea, select {
    background-color: #fff;
    border: 1px solid #b3b6b8;
    border-radius: 3px;
    box-sizing: border-box;
    color: #50575b;
    display: inline-block;
    font-size: 14px;
    height: 36px;
    padding: 0 12px;
    width: 100%;
}

textarea {
    padding: 6px 10px;
    min-height: 108px;
}

select {
    width: 300px;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 25px;
    line-height: 25px;
}

    .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ddd;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}


.checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ---------------------------------- page ---------------------------------------*/

main {
    overflow: auto;
    width: 100%;
    height: auto;
}

    main .page {
        width: 950px;
        height: auto;
        margin: 0px auto;
        margin-bottom: 60px;
    }

        main .page .menu {
            text-align: center;
            margin-bottom: 20px;
        }

            main .page .menu ul {
                list-style: none;
                width: auto;
                display: inline-block;
                padding: 0;
                margin: 0;
                font-size: 16px;
            }

                main .page .menu ul li {
                    display: inline-block;
                    padding: 5px 20px;
                }


/* ------------------------------- login ------------------------------------------*/

#loginBox {
    width: 500px;
    height: auto;
    display: block;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    color: #50575b;
}

    #loginBox .logo {
        width: 180px;
        margin: 0px auto;
        display: block;
    }

    #loginBox .loginField {
        display: block;
        width: 100%;
        height: 38px;
        border-radius: 3px;
        border: 1px solid #b3b6b8;
        transition: color .1s ease-out,background-color .1s ease-out,border-color .1s ease-out;
        margin-bottom: 20px;
    }

        #loginBox .loginField:hover {
            border-color: #828689;
        }

    #loginBox input[type="text"], #loginBox input[type="password"] {
        background: transparent;
        border: none;
        height: 38px;
        line-height: 36px;
        padding: 0;
        width: 395px;
    }

    #loginBox .loginField.focus {
        border-color: #0b9dcc;
    }

    #loginBox .loginField .icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: 0px 10px;
        margin-top: 0px;
        background-image: url("../images/icons.png");
        background-size: auto 16px;
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-top: -5px;
    }

        #loginBox .loginField .icon.password {
            background-position: -16px 0px;
        }

        #loginBox .loginField .icon.view {
            background-position: -32px 0px;
            cursor: pointer;
        }

        #loginBox .loginField .icon.hide {
            background-position: -48px 0px;
            cursor: pointer;
        }


    #loginBox .button {
        margin-top: 40px;
        width: 100%;
        height: 38px;
    }

    #loginBox .errorLogin {
        display: inline-block;
        width: 100%;
        color: rgb(215, 41, 41);
        margin: 10px 0px 20px;
        background-color: rgb(242,242,242);
        border-radius: 3px;
        padding: 10px;
        border: 1px solid rgba(0,0,0,0.03);
    }

/* ------------------------------------- GENERAL --------------------------------------*/

form label {
    display: block;
    margin-top: 10px;
}

    form label:first-child {
        margin-top: 0px !important;
    }


.table td span:last-child::after {
    content: '' !important;
}

.table td span::after {
    content: ' - ';
}

#explorerLink {
    border-bottom: 1px solid #e1e1e1;
    font-size: 12px;
    margin-bottom: 20px;
    padding-bottom: 7px;
}

    #explorerLink a, #explorerLink a:hover {
        font-weight: normal;
    }