@model IndexClientModel
@{
    ViewData["Title"] = "Clienti";
}
<div id="explorerLink">
    Clienti
</div>
<h1>Clienti</h1>
<br />
<table class="table">
    <tr style="font-weight:bold;">
        <td>Codice</td>
        <td>Nome</td>
        <td>Partiva I.V.A</td>
        <td>Applicazioni</td>
        <td>Azioni</td>
    </tr>
    @foreach (var c in Model.Clients)
    {
        <tr>
            <td><b>@c.Code</b></td>
            <td><b>@c.Name</b></td>
            <td>@c.VAT</td>
            <td>@string.Join(", ", c.Applications.Select(v => (v.Name)).ToArray())</td>
            <td>
                <span><a asp-controller="Client" asp-action="Edit">Modifica</a></span>
                <span><a asp-controller="Client" asp-action="Delete">Elimina</a></span>
            </td>
        </tr>
    }
    <tr asp-if="Model.Clients.Count == 0">
        <td colspan="5" style="text-align:center">Nessun cliente presente</td>
    </tr>
</table>
<div>
    <a asp-action="New" asp-controller="Client"><input type="button" value="Nuovo" /></a>
</div>