@model NewClientGetModel
@{
	ViewData["Title"] = "Nuovo Cliente";
}
<div id="explorerLink">
	<a asp-controller="Client" asp-action="Index">Clienti</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;Nuovo
</div>
<h2>Nuovo Cliente</h2>
<br />
<div asp-if="Model.Error != 0">
	<label class="error_lbl" asp-if="Model.Error == 1">Errore durante la procedura di inserimento, controllare di aver inserito tutti i dati richiesti.</label>
	<label class="error_lbl" asp-if="Model.Error == 2">Codice applicazione non valido. Inserire un altro codice.</label>
	<label class="error_lbl" asp-if="Model.Error == 3">Cliente già presente nel database.</label>
</div>
<form asp-antiforgery="true" asp-controller="Client" asp-action="New" autocomplete="off" style="width:350px;">
	<label>Codice:</label>
	<label class="checkbox">
		Genera automaticamente il codice
		<input type="checkbox" checked="checked" name="automaticCode" id="automaticCode" value="true" />
		<span class="checkmark"></span>
	</label>
	<div id="viewManCode" style="display:none;">
		<input type="text" name="code" id="code" />
		<br />
	</div>
	<label style="margin-top:15px;">Nome:</label>
	<input type="text" name="name" />
	<br />
	<label style="margin-top:15px;">Via:</label>
	<input type="text" name="street" />
	<br />
	<label style="margin-top:15px;">CAP:</label>
	<input type="text" name="cap" />
	<br />
	<label style="margin-top:15px;">Comune:</label>
	<input type="text" name="city" />
	<br />
	<label style="margin-top:15px;">Provincia:</label>
	<select name="province">
		@await Html.PartialAsync("ProvinceOptions", "");
	</select>
	<br />
	<label>Stato:</label>
	<select name="country">
		@await Html.PartialAsync("CountryOptions", "Italia");
	</select>
	<br />
	<label style="margin-top:15px;">IVA:</label>
	<input type="text" name="vat" />
	<br />
	<br />
	<input type="submit" value="Aggiungi" name="submit" style="margin-top:20px;" />
</form>

@section Scripts{ 
	<script type="text/javascript">

		$('#automaticCode').change(function () {
			$('#viewManCode').toggle();
		});

	</script>
}