@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        Utilizziamo cookie e altre tecnologie per poter utilizzare correttamente il sistema di gestione e per poter creare la tua autenticazione e la sessione.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="accept-policy close" data-cookie-string="@cookieString" value="Accetta" />
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent input[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                $("#cookieConsent").css("display", "none");
            }, false);
        })();
    </script>
}
