<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTControlPanel</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/manifest.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta property="og:site_name" content="TTControlPanel">
    <meta property="og:title" content="TTControlPanel" />
    <meta property="og:url" content="http://cpanel.ttautomazioni.net/login" />
    <meta property="og:description" content="Pannello di amministrazione TT S.R.L." />
    <meta property="og:image" itemprop="image" content="http://cpanel.ttautomazioni.net/images/ic.png">
    <meta property="og:type" content="website" />

    <link type="text/css" charset="utf-8" rel="stylesheet" href="~/css/bootstrap.css" />
    <link type="text/css" charset="utf-8" rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <img id="logo" src="~/images/logo.png" />
    </header>

    <main role="main">
        <div class="page">
            @await Html.PartialAsync("Menu")
            @RenderBody()
        </div>
    </main>

    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/date.format.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
        <script src="~/js/date.format.min.js"></script>
    </environment>
    <script type="text/javascript" src="~/lib/clipboard/clipboard.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
